/DDraw/.vs/
/DDraw/Builds/
/DDraw/Output/
/DDraw/Public/
/DDraw/Release/
/DDraw/Others/
/DPlayx/trunk/src/Recorder/output/*
/ReImagined/ReImagined/OTA 31 HPI RAW/
/TA_Debug/.vs/
/TA_Debug/Release/
/TA_Debug/Debug/
/TA_Debug/x64/
